In [123]:
##########SHEET 1 - UPSC Website##############

In [1]:
#####'https://www.upsc.gov.in/whats-new'

# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

from datetime import date
from datetime import datetime
format_str = '%d/%m/%Y' # The format

file_name = 'Notification, News and Updates tracking - UPSC and Competitors'

#path = '/Users/kundank/Desktop/cswb_scrap/'
title = []
links =[]
datee = []
# Create an URL object
url = 'https://www.upsc.gov.in/whats-new'
    
    
# Create object page
page = requests.get(url, verify=False)

# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')

head = 'https://www.upsc.gov.in/'
for x in soup.find_all("div", {"class": "view-header"}):
    for a in x.find_all('a', href=True):

        links.append(head + a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))

for x in soup.find_all("div", {"class": "view-content"}):
    for a in x.find_all('a', href=True):

        links.append(head + a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))

ddf_1 = pd.DataFrame(zip(title,links ),columns = ['Title', 'Links'])                
        #print("Found the URL:", a['href'])

#for x in soup.find_all("div", {"class": "arti-Bottom"}):
#    datee.append(x.get_text(strip=True).split("|")[1])
#ddf_1 = pd.DataFrame(zip(title,links, datee ),columns = ['title', 'links', 'date'])
#ddf.to_excel(path + "ddf.xlsx")

ddf_1 = ddf_1[:5]

########Writing to google sheet #########
#from __future__ import print_function

import googleapiclient.discovery as discovery
from httplib2 import Http
from oauth2client import client
from oauth2client import file
from oauth2client import tools

import pygsheets
import pandas as pd
#authorization
path = '/Users/kundank/Downloads/docs/'
gc = pygsheets.authorize(service_file= path + 'credentials2.json')


#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[1]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_1,(1,1))

/Users/kundank/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.upsc.gov.in'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [10]:

from datetime import date

today = date.today()

d_today = today.strftime("%d/%m/%Y")
print("d4 =", d_today)

d4 = 07/11/2022

In [2]:
##### SHEET 2  Google News and Trends #######

In [3]:
####GOOGLE TRENDS ####
import pandas as pd
import pytrends
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=330) 
# Get realtime Google Trends data
dtf = pytrends.trending_searches(pn='india')
dtf.columns = ['Keys']

dtf1 = pytrends.realtime_trending_searches(pn='IN') 

from sklearn import feature_extraction, manifold

lst_words = [
    "upsc", "ias", "insightsonindia", "drishthi ias", "vajiram", "byju's"
]

## count
lst_grams = [len(word.split(" ")) for word in lst_words]
vectorizer = feature_extraction.text.CountVectorizer(
                 vocabulary=lst_words, 
                 ngram_range=(min(lst_grams),max(lst_grams)))
dtf_X = pd.DataFrame(vectorizer.fit_transform(dtf["Keys"]).todense(), columns=lst_words)
## add the new features as columns
dtf = pd.concat([dtf, dtf_X.set_index(dtf.index)], axis=1)

aa = list(dtf.sum(axis=1))

i=0
daily_trend = []
for a in aa:
    if a==1:
        daily_trend.append(dtf['Keys'].iloc[i])
    i = i+1


dtf_X1 = pd.DataFrame(vectorizer.fit_transform(dtf1["title"]).todense(), columns=lst_words)
## add the new features as columns
dtf1 = pd.concat([dtf1, dtf_X1.set_index(dtf1.index)], axis=1)

aa = list(dtf1.sum(axis=1))
i=0
realtime_trend = []
for a in aa:
    if a==1:
        realtime_trend.append(dtf1['title'].iloc[i])
    i = i+1

######Scrappig Google news
# import module
from gnewsclient import gnewsclient
# declare a NewsClient object
client = gnewsclient.NewsClient(language='english', location='india', topic = 'Nation', max_results=100)
news_list = client.get_news()
title = []
link = []

for item in news_list:
    title.append(item['title'])
    link.append(item['link'])
dgn = pd.DataFrame(zip(title , link), columns = ['title', 'link'])
#dgn.head()
dtf1 = dgn

dtf_X = pd.DataFrame(vectorizer.fit_transform(dtf1["title"]).todense(), columns=lst_words)
## add the new features as columns
dtf1 = pd.concat([dtf1, dtf_X.set_index(dtf1.index)], axis=1)
aa = list(dtf1.sum(axis=1))

i=0
googlenews_trend = []
for a in aa:
    if a==1:
        googlenews_trend.append(dtf1['title'].iloc[i])
    i = i+1

if len(daily_trend) == 0:
    dly_trend = 'Daily search trend: No trending keywords'
else:
    dly_trend = "Daily trend: " + '\n' + ', '.join(daily_trend)
    
if len(realtime_trend) == 0:
    rt_trend = 'Realtime trend: No trending keywords'
else:
    rt_trend = "Real time trend: " + '\n' + ', '.join(realtime_trend)

if len(googlenews_trend) == 0:
    gn_trend = "Googlenews_trend: No trending keywords"
else:
    gn_trend = "Google news trend: " +  '\n' + ', '.join(googlenews_trend)

#message =  d_trend + '\n' +  '\n' + r_trend + '\n' +  '\n' + gn_trend
#print(message)

#string = 'cool'
ddf_2 = pd.DataFrame([dly_trend], columns=['Trends'])
ddf_2.loc[1] = rt_trend
ddf_2.loc[2] = gn_trend

#print (ddf_2)

#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[2]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_2,(1,1))

/Users/kundank/opt/anaconda3/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [11]:
#####GOOGLE NEWS #########
def search_api(term):
    from serpapi import GoogleSearch
    import os

    import pandas as pd

    month = 10
    from_day = 21
    to_day = 24
    year = 2022

    params = {
        "engine": "google",
        "q": term,
        "google_domain": "google.co.in",
        "tbm": "nws",
        "num": "5",  
        "gl": "in",           
        #"tbs": f"cdr:1,cd_min:{month}/{from_day}/{year},cd_max:{month}/{to_day}/{year}",
        "api_key": "5a89766b207d7e747ee132b753ead7cb654d597e553eabb5da79085188678e86"
    }

    client = GoogleSearch(params)
    data = client.get_dict()
    title = []
    links = []
    source = []
    description = []

    for news in data['news_results']:
        title.append(news['title'])
        links.append(news['link'])
        source.append(news['source'])
        datee.append(news['date'])
        #description.append(news['date'])

        #snippet.append(news['source'])
        #date_published.append(news['date_published'])

    ddf = pd.DataFrame(zip(title,links, source, datee  ),columns = ['Title', 'Links', 'Source', 'Published' ])
    ddf['Date'] = d_today
    return(ddf)
ddf_31 = search_api("upsc")
ddf_32 = search_api("byju's upsc")
ddf_33 = search_api("dristhi ias")
ddf_34 = search_api("insights ias")

In [12]:
ddf_31

,Title,Links,Source,Published,Date
0,UPSC Essentials: Weekly news express with MCQs...,https://indianexpress.com/article/upsc-current...,The Indian Express,1 day ago,07/11/2022
1,UPSC Essentials: Weekly news express with MCQs...,https://indianexpress.com/article/upsc-current...,The Indian Express,1 day ago,07/11/2022
2,UPSC 2023: Application starts from 1 February;...,https://www.telegraphindia.com/edugraph/news/u...,Telegraph India,1 day ago,07/11/2022
3,UPSC 2023: Application starts from 1 February;...,https://www.telegraphindia.com/edugraph/news/u...,Telegraph India,1 day ago,07/11/2022
4,"सगे भाई- बहन बनेंगे SDM, पास की UPPCS परीक्षा,...",https://www.livehindustan.com/career/story-upp...,Hindustan,15 hours ago,07/11/2022
5,"सगे भाई- बहन बनेंगे SDM, पास की UPPCS परीक्षा,...",https://www.livehindustan.com/career/story-upp...,Hindustan,15 hours ago,07/11/2022

In [13]:

#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[3]

wks.clear()

ddf_31 = ddf_31.drop_duplicates()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_31,(1,1))


#select the first sheet 
wks = sh[4]

wks.clear()

ddf_32 = ddf_32.drop_duplicates()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_32,(1,1))


#select the first sheet 
wks = sh[5]

wks.clear()
ddf_33 = ddf_33.drop_duplicates()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_33,(1,1))
    

#select the first sheet 
wks = sh[6]

wks.clear()
ddf_34 = ddf_34.drop_duplicates()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_34,(1,1))

In [14]:
##########NDTV Website scraping###############
url = 'https://www.ndtv.com/search?searchtext=upsc'
    
# Create object page
page = requests.get(url, verify=False)

# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')

#title = []
#links =[]
#datee = []

head = 'https://www.ndtv.com'

title = []
links =[]
datee = []


for x in soup.find_all("div", {"class": "src_itm-ttl"}):

    for a in x.find_all('a', href=True):

        #links.append(head + a['href'])
        links.append(a['href'])
        
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))

#date = [x.get_text(strip=True) for x in soup.find_all("span", {"class": "src_itm-stx"})]

date = [x.get_text(strip=True).split(" | ")[1] for x in soup.find_all("span", {"class": "src_itm-stx"})]
    
ddf_41 = pd.DataFrame(zip(title,links, date  ),columns = ['Title', 'Links', 'Date'])                
ddf_41 = ddf_41[:5]


#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[7]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_41,(1,1))

/Users/kundank/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.ndtv.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [15]:
########## SHEET 8 NDTV news: Byjus ###########

In [16]:
##########NDTV Website scraping###############
url = 'https://www.ndtv.com/search?searchtext=byjus'
    
# Create object page
page = requests.get(url, verify=False)

# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')

#title = []
#links =[]
#datee = []

head = 'https://www.ndtv.com'

title = []
links =[]
datee = []


for x in soup.find_all("div", {"class": "src_itm-ttl"}):

    for a in x.find_all('a', href=True):

        links.append(a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))

#date = [x.get_text(strip=True) for x in soup.find_all("span", {"class": "src_itm-stx"})]

date = [x.get_text(strip=True).split(" | ")[1] for x in soup.find_all("span", {"class": "src_itm-stx"})]
    
ddf_42 = pd.DataFrame(zip(title,links, date  ),columns = ['Title', 'Links', 'Date'])                
ddf_42 = ddf_42[:5]


#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[8]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_42,(1,1))

/Users/Kundank/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.ndtv.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [17]:
########## SHEET 9 Indian express: UPSC ###########

In [18]:

##########INDIAN EXPRESS###############
url = 'https://indianexpress.com/?s=upsc'
    
# Create object page
page = requests.get(url, verify=False)

# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')

title = []
links =[]
datee = []

for x in soup.find_all("h3"):
    for a in x.find_all('a', href=True):

        links.append(a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))
        
date = [x.get_text(strip=True).split(": ")[1] for x in soup.find_all("time")]
        
ddf_51 = pd.DataFrame(zip(title,links),columns = ['Title', 'Links'])                
ddf_51 = ddf_51[ddf_51['Title'] != '']
ddf_51 = ddf_51[ddf_51["Links"].str.contains("article")]

ddf_51['dates'] = date

"""
head = 'https://indianexpress.com/?s=upsc'

for x in soup.find_all("div", {"class": "details"}):
    for a in x.find_all('a', href=True):
        links.append(a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))
                        
#date = [x.get_text(strip=True).split(":")[1] for x in soup.find_all("time")]
date = [x.get_text(strip=True).split(": ")[1] for x in soup.find_all("time")]

links1 = list(set(links))
links2 = [a  for a in links1 if 'article' in a]
links2

ddf_51 = pd.DataFrame(zip(title,links, date),columns = ['title', 'links', 'date'])     

ddf_51 = ddf_51[ddf_51['title'] != '']

ddf_51 = ddf_51[ddf_51["links"].str.contains("article")]
#ddf_51 = ddf_51[:5]
#ddf_511
#ddf_512 = pd.DataFrame(zip(links2), columns =  ['links'])    
"""

#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[9]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_51,(1,1))

/Users/kundank/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'indianexpress.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [19]:
########## SHEET 10 Indian express: Byjus ###########

In [20]:

##########INDIAN EXPRESS###############
url = 'https://indianexpress.com/?s=byju%27s'

    
# Create object page
page = requests.get(url, verify=False)

# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')

title = []
links =[]
datee = []

for x in soup.find_all("h3"):
    for a in x.find_all('a', href=True):

        links.append(a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))
        
date = [x.get_text(strip=True).split(": ")[1] for x in soup.find_all("time")]
        
ddf_52 = pd.DataFrame(zip(title,links),columns = ['Title', 'Links'])                
ddf_52 = ddf_52[ddf_52['Title'] != '']
ddf_52 = ddf_52[ddf_52["Links"].str.contains("article")]

ddf_52['dates'] = date

ddf_52 = ddf_52[:5]


#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[10]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_52,(1,1))

/Users/kundank/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'indianexpress.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [21]:
########## SHEET 11 Livemint: UPSC & Byjus ########### Pausing it for now

In [22]:
##########LIVE MINT###############
url = 'https://www.livemint.com/companies/news'
    
# Create object page
page = requests.get(url, verify=False)

# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')

title = []
links =[]
datee = []

head = 'https://www.livemint.com/companies/news'

for x in soup.find_all("h2", {"class": "headline"}):

    for a in x.find_all('a', href=True):

        links.append(head+ a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))
                        
#date = [x.get_text(strip=True) for x in soup.find_all("div", {"class": "author"})]


ddf_61 = pd.DataFrame(zip(title,links),columns = ['title', 'links'])                
ddf_61

tmp = ddf_61["links"].str.lower()
ddf_611 = ddf_61[tmp.str.contains("upsc")]


ddf_612 = ddf_61[tmp.str.contains("Byju's")]

ddf_6 = pd.concat([ddf_611, ddf_612])

"""

#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open('UPSC tracking')

#select the first sheet 
wks = sh[11]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_6,(1,1))

"""

/Users/kundank/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.livemint.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

"\n\n#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)\nsh = gc.open('UPSC tracking')\n\n#select the first sheet \nwks = sh[11]\n\nwks.clear()\n#update the first sheet with df, starting at cell B2. \nwks.set_dataframe(ddf_6,(1,1))\n\n"

In [23]:
############SHEET 11: Individual websites scraping: insightsonindia##################

In [31]:
#####insightsonindia


import requests
from fake_useragent import UserAgent
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
ua=UserAgent()
hdr = {'User-Agent': ua.random,
      'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
      'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
      'Accept-Encoding': 'none',
      'Accept-Language': 'en-US,en;q=0.8',
      'Connection': 'keep-alive'}

url = 'https://www.insightsonindia.com/'

# Create object page
page = requests.get(url, headers=hdr)

# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')


title = []
links =[]
date = []

for x in soup.find_all("div", {"class": "pin_div"}):

    for a in x.find_all('a', href=True):

        links.append(a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))
ddf_c11 = pd.DataFrame(zip(title,links),columns = ['Latest Updates', 'Links'])                
ddf_c11 = ddf_c11[:10]

ddf_c11['Date'] = d_today

#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[11]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_c11,(1,1))



title = []
links =[]
date = []

for x in soup.find_all("ul", {"class": "lcp_catlist"}):

    for a in x.find_all('a', href=True):

        links.append(a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))
ddf_c12 = pd.DataFrame(zip(title,links), columns = ['Latest Articles', 'Links'])                
ddf_c12 = ddf_c12[:10]

ddf_c12['Date'] = d_today

#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[11]

#wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_c12,(13,1))

In [32]:
####################SHEET 12: Drishthi IAS #################

In [33]:

url = 'https://www.drishtiias.com/'

    
# Create object page
page = requests.get(url, verify=False)

# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')


title = []
links =[]
date = []

for x in soup.find_all("div", {"class": "content"}):

    for a in x.find_all('a', href=True):

        links.append(a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))
ddf_c21 = pd.DataFrame(zip(title,links), columns = ['Latest News', 'Links'])                
ddf_c21 = ddf_c21[:15]

ddf_c21['Date'] = d_today


#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[12]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(ddf_c21,(1,1))

/Users/kundank/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.drishtiias.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [27]:
###########SHEET 13: Social media scraping Twitter : Byju's ###########

In [30]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Created a list to append all tweet attributes(data)
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:byjus').get_items()):
    if i>10:
        break
    attributes_container.append([tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content])
    
# Creating a dataframe from the tweets list above 
tweets_df_byjus = pd.DataFrame(attributes_container, columns=["Date Created", "Number of Likes", "Source of Tweet", "Tweets"])


#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[13]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(tweets_df_byjus,(1,1))

In [29]:

from googleapiclient.discovery import build
import pandas as pd

youTubeApiKey = "AIzaSyAsDwN7Km4KmogljFKtFTxobbGv5JagShc"
youtube = build('youtube', 'v3', developerKey=youTubeApiKey)

####BYJU'S Exam Prep: UPSC #########

channelId = 'UC1pfsmDBnMQB8sOuQvmTvRQ'
stats = youtube.channels().list(part = "statistics", id = channelId).execute()
content = youtube.channels().list(id = channelId, part = 'contentDetails').execute()
UploadId = content['items'][0]['contentDetails']['relatedPlaylists']['uploads']

allVideos = []
nextPage_token = None

a = 1
while 1:
  res = youtube.playlistItems().list(playlistId = UploadId,maxResults = 10, part = 'snippet', pageToken = nextPage_token).execute()

  allVideos += res['items']
  nextPage_token = res.get('nextPageToken')

  #if nextPage_token is None:
  #  break
  if a == 1:
    break
    
  #print(allVideos)

video_ids = list(map(lambda x:x['snippet']['resourceId']['videoId'], allVideos))
print(len(video_ids))

stats = []
for i in range(0, len(video_ids), 40):
  res = (youtube).videos().list(id = ','.join(video_ids[i:i+40]), part = 'statistics').execute()
  stats += res['items']
  #print(stats)
title = []
liked =[]
disliked = []
views = []
url = []
comment = []
videoId = []
videoId1 = []

publishedDate = []
video_Description = []

for i in range(0, len(stats)):
    #i+=1
    #print(i)

    title.append((allVideos[i]['snippet']['title']))
    video_Description.append((allVideos[i]['snippet']['description']))
    publishedDate.append((allVideos[i]['snippet']['publishedAt'][0:10]))
    videoId.append((allVideos[i]['snippet']['resourceId']['videoId']))
    #videoId1.append(res['items'][i]['id'])
    #views.append(res['items'][i]['statistics']['viewCount'])
    #liked.append(res['items'][i]['statistics']['commentCount'])
    
    videoId1.append(stats[i]['id'])
    
    views.append(stats[i]['statistics']['viewCount'])
    try:
        liked.append(stats[i]['statistics']['likeCount'])
    except:
        liked.append('NA')
    try:
        comment.append(stats[i]['statistics']['commentCount'])
    except:
        comment.append('NA')
    
dtf1 = pd.DataFrame(list(zip(title,  video_Description, publishedDate , videoId  )), 
                        columns =['Title',  'Description', 'Date', 'ID'])

dtf2 = pd.DataFrame(list(zip(videoId1, views,   liked, comment  )), 
                        columns =[ 'ID', 'Views', 'Likes', 'Comment']) 
dtf_41 = pd.merge(dtf1, dtf2, on='ID')

l_head = 'https://www.youtube.com/watch?v='
linkk = [l_head + x for x in dtf_41['ID']]

chn_name =  "BYJU'S IAS"

dtf_41['video_link'] = linkk
dtf_41['Channel_name'] = chn_name
dtf_41 = dtf_41.drop('ID',axis=1)



#select the first sheet 
wks = sh[14]

wks.clear()
#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(dtf_41,(1,1))

10

In [153]:
###################### Scraping ends ######################################

In [57]:

title = []
links =[]
datee = []
# Create an URL object
s = ['https://news.careers360.com/latest?page=1',
     'https://news.careers360.com/latest?page=2'
    ]
for url in s:
    # Create object page
    page = requests.get(url)
    # parser-lxml = Change html to Python friendly format
    # Obtain page's information
    soup = BeautifulSoup(page.text, 'lxml')

    for x in soup.find_all("div", {"class": "heading4"}):
      title.append(x.get_text(strip=True))

    head = 'https://news.careers360.com'
    for x in soup.find_all("div", {"class": "heading4"}):
        for a in x.find_all('a', href=True):

            links.append(head + a['href'])
            #print("Found the URL:", a['href'])

    for x in soup.find_all("div", {"class": "arti-Bottom"}):
        datee.append(x.get_text(strip=True).split("|")[1])

ddf_14 = pd.DataFrame(zip(title,links, datee ),columns = ['title', 'links', 'date'])
#ddf.to_excel(path + "ddf.xlsx")
tmp = ddf_14["title"].str.lower()

ddf_14_1 = ddf_14[tmp.str.contains("upsc")]
ddf_14_1

Empty DataFrame
Columns: [title, links, date]
Index: []

In [58]:
ddf_14_1

Empty DataFrame
Columns: [title, links, date]
Index: []

In [62]:

########Shiksha ############
url = 'https://www.shiksha.com/news'
    
# Create object page
page = requests.get(url, verify=False)

soup = BeautifulSoup(page.text, 'lxml')
title = []
links =[]
datee = []

head = 'https://www.shiksha.com'


for x in soup.find_all("h3", {"class": "articleTitle"}):
    for a in x.find_all('a', href=True):

        links.append(head + a['href'])
        #title.append(a.get_text(strip=True).split(" ")[0])
        title.append(a.get_text(strip=True))
                        
date = [x.get_text(strip=True) for x in soup.find_all("strong", {"class": "articelUpdatedDate"})]
ddf_15 = pd.DataFrame(zip(title,links, date ),columns = ['title', 'links', 'date'])                

tmp = ddf_15["title"].str.lower()

ddf_15_1 = ddf_15[tmp.str.contains("upsc")]
ddf_15_1

/Users/kundank/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.shiksha.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

Empty DataFrame
Columns: [title, links, date]
Index: []

In [63]:
ddf_15_1

Empty DataFrame
Columns: [title, links, date]
Index: []

In [49]:
a = ddf_14["title"].str.lower()
a.str.contains("indian")

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: title, dtype: bool

In [69]:
#All the dataframes
ddf_1[:2]

,Title,Links
0,Common mistakes done while filling OMR Sheet/S...,https://www.upsc.gov.in//sites/default/files/C...
1,Interview Details: 05 posts of Senior Scientif...,https://www.upsc.gov.in/whats-new/05 posts of ...

In [65]:
ddf_2

                                     Trends
0  Daily search trend: No trending keywords
1      Realtime trend: No trending keywords
2    Googlenews_trend: No trending keywords

In [70]:
ddf_41[:2]

,Title,Links,Date
0,"""NEET UG 2022 Rank Doesn't Affect Your Career ...",https://www.ndtv.com/education/neet-ug-2022-ra...,"Thursday September 8, 2022"
1,"UPSC Recommends 4,119 Candidates For Jobs In 2...",https://www.ndtv.com/jobs/upsc-jobs-recommends...,"Thursday July 21, 2022"

In [71]:
ddf_33 ###Google new dhristhi

,Title,Links,Source,date_published
0,MoU to Promote Natural Farming,https://www.drishtiias.com/state-pcs-current-a...,Drishti IAS,11 mins ago
1,Madhya Pradesh Rewarded For Innovation and Bes...,https://www.drishtiias.com/state-pcs-current-a...,Drishti IAS,11 mins ago
2,Madhya Pradesh State PCS,https://www.drishtiias.com/statepcs/27-09-2022...,Drishti IAS,22 hours ago
3,People Who Influenced Gandhi,https://www.drishtiias.com/blog/people-who-inf...,Drishti IAS,23 hours ago

In [72]:
ddf_c12[:2] ###Insights IAS

,Latest Articles,Links
0,[Mission 2023] INSIGHTS DAILY CURRENT AFFAIRS ...,https://www.insightsonindia.com/2022/09/27/mis...
1,A push for the semiconductor industry,https://www.insightsonindia.com/2022/09/27/a-p...

In [73]:
tweets_df_byjus[:2]

,Date Created,Number of Likes,Source of Tweet,Tweets
0,2022-09-27 06:22:42+00:00,4,Twitter Web App,Counting down the minutes to the weekend? We f...
1,2022-09-26 09:59:16+00:00,8,Twitter Web App,"Our Founder, Byju Raveendran talks about the l..."

In [74]:
#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open(file_name)

#select the first sheet 
wks = sh[15]

wks.clear()
#update the first sheet with df, starting at cell B2. 

wks.set_dataframe(ddf_1[:2],(1,1))

In [75]:
wks.set_dataframe(ddf_41[:2],(5,1))

In [76]:
wks.set_dataframe(ddf_33[:2],(9,1))

In [78]:
wks.set_dataframe(tweets_df_byjus[:2],(13,1))

In [ ]:
title

In [56]:
ddf_1[:2],(1,1)

(                                               Title  \
 0  Common mistakes done while filling OMR Sheet/S...
 1  Final Result: 421 Posts of Enforcement Officer...

                                                Links
 0  https://www.upsc.gov.in//sites/default/files/C...
 1  https://www.upsc.gov.in/whats-new/421 Posts of...  ,
 (1, 1))

In [58]:
ddf_1

,Title,Links
0,Common mistakes done while filling OMR Sheet/S...,https://www.upsc.gov.in//sites/default/files/C...
1,Final Result: 421 Posts of Enforcement Officer...,https://www.upsc.gov.in/whats-new/421 Posts of...
2,Interview Details: 05 posts of Senior Scientif...,https://www.upsc.gov.in/whats-new/05 posts of ...
3,DAF: Central Armed Police Forces (ACs) Examina...,https://www.upsc.gov.in//whats-new/Central%20A...
4,Rectt. Test: 02 Posts of Assistant Professor (...,https://www.upsc.gov.in/whats-new/02 Posts of ...

In [57]:
pip install python-docx

Collecting python-docx
  Downloading python-docx-0.8.11.tar.gz (5.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 3.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: lxml>=2.3.2 in /Users/kundank/opt/anaconda3/lib/python3.8/site-packages (from python-docx) (4.6.3)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-py3-none-any.whl size=184507 sha256=d3c857e4251cb7fbacaeef14155791469519a149cddf058539cc38a2edd409e8
  Stored in directory: /Users/kundank/Library/Caches/pip/wheels/32/b8/b2/c4c2b95765e615fe139b0b17b5ea7c0e1b6519b0a9ec8fb34d
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.11
WARNING: You are using pip version 22.0.3; however, version 22.2.2 is available.
You should consider upgrading via the '/Users/kundank/opt/anaconda3/bin/python3.8 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [60]:
import docx
import pandas as pd

# i am not sure how you are getting your data, but you said it is a
# pandas data frame
#df = pd.DataFrame(data)


df = ddf_1
path = '/Users/kundank/Downloads/'

# open an existing document
doc = docx.Document(path + 'test.docx')

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save(path + 'test.docx')

PackageNotFoundError: Package not found at '/Users/kundank/Downloads/test.docx'

In [61]:
import docx
import pandas as pd
from pathlib import Path

def pd_table_to_word(df, save_to_path, include_index=False):
    if Path(save_to_path).exists():
        response = input("Document already exists and will be overwritten. Sure you want to overwrite this documents? Y/ N")
        if response.lower() not in ["y", "ye", "yes", "yeah"]:
            return "Aborted overwriting file."
    doc = docx.Document()
    # add a table to the end and create a reference variable
    # extra row is so we can add the header row
    
    n_rows, n_cols = df.shape[0], df.shape[1] +1
    if include_index:
        n_rows += 1
        
    t = doc.add_table(n_rows, n_cols)
    
    # add the header rows.
    for j in range(df.shape[-1]):
        if include_index:
            t.cell(0,j+1).text = df.columns[j]
        else:
            t.cell(0,j).text = df.columns[j]
    
    # add index names
    if include_index:
        t.cell(0, 0).text = df_docx.index.name
        for i in range(df_docx.shape[0]):
            t.cell(i+1, 0).text = df_docx.index[i]

    # add the rest of the data frame
    for i in range(df.shape[0]):
        for j in range(df.shape[-1]):
            if include_index:
                t.cell(i+1, j+1).text = str(df.values[i,j])
            else:
                t.cell(i+1, j).text = str(df.values[i,j])
    doc.save(save_to_path)
    return f"Table saved to {save_to_path}"

In [62]:

df = ddf_1
path = '/Users/kundank/Downloads/test.docx'
pd_table_to_word(df, path )

IndexError: list index out of range

In [63]:
from docx import Document
import pandas as pd

def df_to_word(data: dict, report_name:str) -> docx.Document:
    assert type(data) == dict, 'data has to be dict'
    assert '.docx' in report_name, 'report_name has to be a .docx file'
    df = pd.DataFrame(data)
    doc = docx.Document()

    table = doc.add_table(df.shape[0]+1, df.shape[1])

    for j in range(df.shape[-1]):
        table.cell(0,j).text = df.columns[j]

    for i in range(df.shape[0]):
        for j in range(df.shape[-1]):
            table.cell(i+1,j).text = str(df.values[i,j])

    doc.save(f'./{report_name}')


data = {
  "calorierbes": [420, 380, 390],
  "duratierbn": [50, 40, 45],
  "durationverg": [50, 40, 45],
  "duratiorgern": [50, 40, 45],
  "calorieers": [420, 380, 390],
  "calorierbers": [420, 380, 390],
  "calorierbes": [420, 380, 390]
}
path = '/Users/kundank/Downloads/test.docx'

df_to_word(df, path)

AssertionError: data has to be dict

In [64]:
import docx
import pandas as pd

#data = pd.read_excel("some_bigger_data.xlsx")

data = df

doc = docx.Document() 

table = doc.add_table(rows=data.shape[0], cols=data.shape[1])

table_cells = table._cells

for i in range(data.shape[0]):
    for j in range(data.shape[1]):
        table_cells[j + i * data.shape[1]].text =  str(data.values[i][j])

doc.save(path)

In [65]:
data

,Title,Links
0,Common mistakes done while filling OMR Sheet/S...,https://www.upsc.gov.in//sites/default/files/C...
1,Final Result: 421 Posts of Enforcement Officer...,https://www.upsc.gov.in/whats-new/421 Posts of...
2,Interview Details: 05 posts of Senior Scientif...,https://www.upsc.gov.in/whats-new/05 posts of ...
3,DAF: Central Armed Police Forces (ACs) Examina...,https://www.upsc.gov.in//whats-new/Central%20A...
4,Rectt. Test: 02 Posts of Assistant Professor (...,https://www.upsc.gov.in/whats-new/02 Posts of ...

In [72]:
def doctable(data, tabletitle, pathfile):
    from docx import Document
    from docx.shared import Pt, Mm
    import pandas as pd
    document = Document()
    section = document.sections[0]
    section.page_height = Mm(297)
    section.page_width = Mm(210)
    section.left_margin = Mm(20)
    section.right_margin = Mm(20)
    section.top_margin = Mm(20)
    section.bottom_margin = Mm(20)
    section.header_distance = Mm(12.7)
    section.footer_distance = Mm(12.7)
    data = pd.DataFrame(data) # My input data is in the 2D list form
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    document.save(pathfile)
    return 0

In [73]:
doctable(data, "UPSC site" , path)

0

In [155]:
path

'/Users/kundank/Downloads/test.docx'

In [169]:
from docx import Document
from docx.shared import Pt, Mm
def doctable1(pathfile):
    
    #import pandas as pd
    document = Document()
    #document.add_page_break()
    section = document.sections[0]
    section.page_height = Mm(297)
    section.page_width = Mm(210)
    section.left_margin = Mm(20)
    section.right_margin = Mm(20)
    section.top_margin = Mm(20)
    section.bottom_margin = Mm(20)
    section.header_distance = Mm(12.7)
    section.footer_distance = Mm(12.7)
    #data = pd.DataFrame(data) # My input data is in the 2D list form
    
    """
    #doctable2(ddf_1, "UPSC site")
    tabletitle = "UPSC site"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    tabletitle = "UPSC site"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    """
    
    data = ddf_1
    tabletitle = "UPSC site: what's new"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0] ), cols=data.shape[1] ) # First row are table headers!
    #table.allow_autofit = True
    #table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_2
    tabletitle = "Google trends: UPSC and Competition"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0] ), cols=data.shape[1] ) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_31
    tabletitle = "Google news: UPSC"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_32
    tabletitle = "Google news: Byju's UPSC "
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_33
    tabletitle = "Google news: Drishth IAS"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_34
    tabletitle = "Google news: Insights IAS"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_41
    tabletitle = "NDTC: UPSC"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_42
    tabletitle = "NDTV: Byjus"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_51
    tabletitle = "Indian Express: UPSC"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_c12
    tabletitle = "insightsonindia website"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = ddf_c21
    tabletitle = "Dristhi IAS website"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    data = tweets_df_byjus[:5]
    tabletitle = "Twitter_Byju's"
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])
    
    
            
    document.save(pathfile)
    return 0
path = '/Users/kundank/Downloads/test.docx'
doctable1(path)

0

In [160]:
def doctable2(data, tabletitle):
    document = Document()
    document.add_heading(tabletitle)
    table = document.add_table(rows=(data.shape[0]), cols=data.shape[1]) # First row are table headers!
    table.allow_autofit = True
    table.autofit = True
    
    for i, column in enumerate(data) :
        for row in range(data.shape[0]) :
            table.cell(row, i).text = str(data[column][row])

In [161]:
doctable1("UPSC site" , path)

0

0

In [115]:
ddf_1

,Title,Links
0,Common mistakes done while filling OMR Sheet/S...,https://www.upsc.gov.in//sites/default/files/C...
1,Interview Schedule: CISF AC(EXE) LDCE-2022,https://www.upsc.gov.in//whats-new/CISF%20AC%2...
2,Final Result: 02 Posts of Data Processing Assi...,https://www.upsc.gov.in/whats-new/02 Posts of ...
3,Written Result (with name): National Defence A...,https://www.upsc.gov.in//whats-new/National%20...
4,Final Result: 421 Posts of Enforcement Officer...,https://www.upsc.gov.in/whats-new/421 Posts of...

In [116]:
ddf_2

                                     Trends
0  Daily search trend: No trending keywords
1      Realtime trend: No trending keywords
2    Googlenews_trend: No trending keywords

In [121]:
ddf_31 = ddf_31[:5]
ddf_31

,Title,Links,Source,Date_published
0,UPSC CSE MAINS 2022: SEVERAL QUESTIONS DIRECTL...,https://www.insightsonindia.com/2022/10/01/ups...,INSIGHTS IAS,1 day ago
1,UPSC Success Story: किसान के बेटे ने 4 में से ...,https://zeenews.india.com/hindi/off-beat/ias-s...,Zee News,2 days ago
2,UPSC Recruitment 2022: UPSC ने निकाली 280 से अ...,https://hindi.news18.com/news/jobs/upsc-recrui...,News18 हिंदी,57 mins ago
3,IAS Story: छठी क्लास में फेल होने वाली ये महिल...,https://zeenews.india.com/hindi/career/this-wo...,Zee News,1 hour ago
4,IAS Motivation Story: एक कुली कैसे बना IAS Off...,https://zeenews.india.com/hindi/career/ias-off...,Zee News,1 hour ago

In [122]:
ddf_32

,Title,Links,Source,Date_published
0,"UPSC Mains 2022 Exam begins today, check exam ...",https://www.timesnownews.com/jobs/upsc-mains-2...,Times Now,2 weeks ago
1,UPSC CSE (Main) 2022: Important last-minute an...,https://www.financialexpress.com/education-2/u...,The Financial Express,2 weeks ago
2,Top 10 Best EdTech Companies In India 2023,https://www.inventiva.co.in/trends/10-best-edt...,Inventiva,4 days ago
3,Was IAS Shruti Sharma Byju's Student: Fact Che...,https://www.jantakareporter.com/entertainment/...,Janta Ka Reporter,31-May-2022
4,Byju’s ad claims it helped 37% of IAS 2020 bat...,https://news.careers360.com/upsc-toppers-name-...,News by careers360,20-Oct-2021

In [123]:
ddf_33

,Title,Links,Source,date_published
0,Rajasthan State PCS,https://www.drishtiias.com/statepcs/02-10-2022...,Drishti IAS,19 hours ago

In [124]:
ddf_34

,Title,Links,Source,Date_published
0,[Mission 2023] INSIGHTS DAILY CURRENT AFFAIRS ...,https://www.insightsonindia.com/2022/10/01/mis...,INSIGHTS IAS,1 day ago
1,UPSC CSE MAINS 2022: SEVERAL QUESTIONS DIRECTL...,https://www.insightsonindia.com/2022/10/01/ups...,INSIGHTS IAS,1 day ago
2,A Little More Light with visually challenged a...,https://www.insightsonindia.com/2022/10/02/a-l...,INSIGHTS IAS,9 hours ago

In [125]:
ddf_41

,Title,Links,Date
0,"""NEET UG 2022 Rank Doesn't Affect Your Career ...",https://www.ndtv.com/education/neet-ug-2022-ra...,"Thursday September 8, 2022"
1,"UPSC Recommends 4,119 Candidates For Jobs In 2...",https://www.ndtv.com/jobs/upsc-jobs-recommends...,"Thursday July 21, 2022"
2,Students Preparing For Competitive Exams Will ...,https://www.ndtv.com/education/students-prepar...,"Sunday July 17, 2022"
3,"Bureaucrat Shares Photo Of Class 10 Marksheet,...",https://www.ndtv.com/offbeat/ias-officer-share...,"Saturday July 9, 2022"
4,This Police Officer's Mission Is To Mentor Civ...,https://www.ndtv.com/india-news/this-police-of...,"Friday July 1, 2022"

In [126]:
ddf_42

,Title,Links,Date
0,Byju's Reports 13-Fold Widening Of Losses Afte...,https://www.ndtv.com/business/byjus-reports-13...,"Thursday September 15, 2022"
1,Byju’s Posts 13-Fold Widening in Losses in Del...,https://gadgets360.com/internet/news/byjus-rep...,"Wednesday September 14, 2022"
2,Government Warns Ed-Tech Companies Against Unf...,https://gadgets360.com/internet/news/governmen...,"Friday July 1, 2022"
3,"Byju’s Lays Off 500 Workers at WhiteHat Jr, To...",https://gadgets360.com/apps/news/byjus-layoffs...,"Thursday June 30, 2022"
4,Consumer Affairs Ministry To Summon Edutech Fi...,https://www.ndtv.com/business/consumer-affairs...,"Friday June 10, 2022"

In [129]:
ddf_51 = ddf_51[:5]
ddf_51

,Title,Links,dates
0,Get Inspired: What Shastri’s life teaches us a...,https://indianexpress.com/article/upsc-current...,2 hours ago
1,UPSSSC PET admit card released; check how to d...,https://indianexpress.com/article/jobs/sarkari...,7 hours ago
2,UPSC Essentials: Weekly news express with MCQs...,https://indianexpress.com/article/upsc-current...,1 day ago
3,"UPSC Essentials: One word a day – NDMA, the st...",https://indianexpress.com/article/upsc-current...,3 days ago
4,UPSC launches official mobile application; che...,https://indianexpress.com/article/jobs/upsc-cs...,3 days ago

In [131]:
ddf_c12 = ddf_c12[:5]
ddf_c12

,Latest Articles,Links
0,INSIGHTS IAS WEEKLY CURRENT AFFAIRS MAGAZINE :...,https://www.insightsonindia.com/2022/10/02/ins...
1,Insights Weekly Essay Challenges 2022 – Week 9...,https://www.insightsonindia.com/2022/10/02/ins...
2,A Little More Light with visually challenged a...,https://www.insightsonindia.com/2022/10/02/a-l...
3,A Little More Light with visually challenged a...,https://www.insightsonindia.com/2022/10/02/a-l...
4,[Trailer] A Little More Light with visually ch...,https://www.insightsonindia.com/2022/10/01/tra...

In [133]:
ddf_c21 = ddf_c21[:5]
ddf_c21

,Latest News,Links
0,September 2022: Week-5,https://www.drishtiias.com/quiz/quizlist/weekl...
1,Current Affairs Quiz (September 2022) Part-II,https://www.drishtiias.com/quiz/quizlist/ca-qu...
2,Editorial on Clarion Call From Sundarban,https://www.drishtiias.com/daily-updates/daily...
3,Maheshwar Dam: Narmada River - Article,https://www.drishtiias.com/current-affairs-new...
4,UNESCO Lists 50 Iconic Textile Crafts - Article,https://www.drishtiias.com/current-affairs-new...

In [134]:
tweets_df_byjus[:5]

,Date Created,Number of Likes,Source of Tweet,Tweets
0,2022-10-02 10:37:37+00:00,10,Twitter for iPhone,His actions spoke more than a thousand words. ...
1,2022-09-30 13:24:33+00:00,9,Twitter Media Studio,There is no better judge of a student’s progre...
2,2022-09-30 05:50:17+00:00,4,Twitter Web App,https://t.co/db38GAvrg3
3,2022-09-30 05:50:15+00:00,10,Twitter Web App,"To impart knowledge, we first need to communic..."
4,2022-09-30 04:28:36+00:00,1,Twitter for iPhone,@mmschocolate Guess we now know who the smarte...